.contact {
  height: 20rem;
  width: 100%;
  display: flex;
  padding: 80px;
  justify-content: center;
  background-color: #edf4f7;
  text-align: center;
}

/* .help {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
   text-align: center; 
} */
p {
  text-align: center;
  color: #c5c5c5;
  font-size: 0.7rem;
}
.btn {
  margin-left: 1rem;
}
